@import "../fontawesome/css/all.css";
@import "WindowBar.css";
@import "MainContent.css";
@import "SearchBar.css";
@import "AddNewFile.css";
@import "TorrentList.css";
@import "TorrentElement.css";

* {
  user-select: none;
  user-focus: none;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

body {
  background-color: #545454;
}

.App {
  margin: auto;
  display: grid;
  grid-template-rows: 25px 742px;
}